.nodeInner {
  cursor: pointer;
}

.children {
  margin-left: 20px;
}

.tri {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  padding-right: 4px;
}

/*  画三角形:  */
.tri-close:after, .tri-open:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 9px solid black;
  border-bottom: 6px solid transparent;
}

.tri-open:after {
  transform: rotate(90deg);
}